:root {
    --black: #121212;
    --gray: #9A9A9A;
    --offwhite: #f2f2f2;
    --white: #FFF;

    /* gobe colors */
    --gobe-green: #1C8838;
    --gobe-yellow: #FFB400;
    --gobe-light-purple: #9788FF;
}

body {
    width: 72vw;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Public Sans', sans-serif;
    color: var(--black);
    font-size: 18px;
    overflow-x: hidden;
}

.main {
    position: fixed;
    z-index: -1;
    border-left: 1px solid var(--offwhite);
    width: 72vw;
    max-width: 1280px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section {
    height: 100%;
    border-right: 1px solid var(--offwhite);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.logo {
    width: 110px;
}

.nav-links {
    align-items: center;
}

.main-text {
    width: 80%;
}

.main-text > h1 {
    margin: 20px 0;
    font-size: 88px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: -1.5px;
}

.offset {
    width: 11vw;
    right: -2.5%;
    top: 22%;
}

.offset > img {
    width: 100%;
}

.brief {
    width: 50%;
}

.bottom-left {
    display: flex;
    align-items: center;
    justify-content: end;
}

.primary-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    color: var(--white);
    background-color: var(--black);
    padding: 12px 24px;
    border-radius: 4px;
}

.primary-btn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--gray);
    transform: translate(0.25em, -0.25em);
}

.secondary-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    border: 2px solid;
    padding: 12px 24px;
    border-radius: 4px;
}

.secondary-btn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--gray);
    transform: translate(0.25em, -0.25em);
}

.bg-white {
    background: var(--white);
}


/* Events */
.events {
    font-family: Syne;
    color: var(--white);
    padding: 40px;
    background: url("../assets/bg-purple.png");
    background-size: cover;
    background-position: center;
}


/* Subscribe */




/* Footer */
.footer {
    font-size: 16px;
}

.socials, .legalese, .copyright {
    padding: 12px 8px;
}

.legalese, .copyright {
    color: var(--gray);
}




/* UTILITY CLASSES */

.flex {
    display: flex;
    align-items: center;
}

.flex-auto {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.text-light {
    font-weight: 200;
}

.abs {
    position: absolute;
}

.hide {
    display: none;
}

.grid {
    display: grid;
}

.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: .35s;
}

i {
    font-size: 24px;
}

.link:hover {
    opacity: 0.6;
}

.link-purple {
    font-weight: 600;
    padding-bottom: 2px;
    color: var(--gobe-light-purple);
    border-bottom: 2px solid var(--gobe-light-purple);
}


h2 {
    margin: 0px;
    line-height: 120%;
}

p {
    line-height: 180%;
    margin: 0;
}

.divider {
    width: 100%;
    border-bottom: 1px solid var(--offwhite);
}

ul > li {
    list-style: none;
}

.sub-menu {
    display: none;
}

.dropdown:hover {
    border: 1px solid red;
}

.bg-bottom {
    width: 100%;
    background-color: var(--white);
    position: fixed;
    z-index: -1;
    bottom: -2%;
    height: 200px;
}

.gap-12 {
    gap: 12px;
}

.gap-24 {
    gap: 24px;
}

.gap-40 {
    gap: 40px;
}

.gap-72 {
    gap: 72px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-72 {
    margin-top: 72px;
}



@media screen and (max-width: 1280px) {
    body, .main {
        width: 84vw;
    }

    .main-text > h1 {
        font-size: 72px;
    }
}

@media screen and (max-width: 720px) {
    .main-text > h1 {
        font-size: 48px;
    }

    .offset {
        width: 16vw;
        right: -4%;
    }

    .flex-auto {
        flex-direction: column;
        gap: 24px;
    }

    .brief {
        width: 100%;
    }

    .bottom-left {
        justify-content: start;
    }

    .cols-2 {
        grid-template-columns: 1fr;
    }

    /* .socials, .legalese, .copyright {
        padding: 12px 8px;
    } */
}

@media screen and (max-width: 520px) {
    body, .main {
        width: 88vw;
    }

    .main {
        grid-template-columns: repeat(2, 1fr)
    }

    .main-text {
        width: 84%;
    }

    .main-text > h1 {
        font-size: 36px;
    }

    .nav-menu > .default-nav {
        display: none;
    }

    .navigation > .navigation__button {
        cursor: pointer;
    }

    .offset {
        top: 18%;
    }
}




.navigation {
    /* position: absolute; */
    opacity: 1;
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    height: 2.75rem;
    width: 3rem;
    position: fixed;
    top: 32px;
    right: 16px;
    border-radius: 6px;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: default;
}

.navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 4.3rem;
    right: 4.25rem;
    z-index: 1000;
    /* transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); */
}

.navigation__nav {
    height: 70vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    width: 100vw !important;
    background-color: var(--white);
    transition: all 0.35s ease;
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    margin: 0px;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: end;
    width: 100%;
    padding: 0px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.navigation__item {
    margin: 1rem;
    margin-bottom: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding: 1rem 1.5rem;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s;
}

.navigation__link:hover,
.navigation__link:active {
    color: var(--black);
}

.navigation__checkbox:checked~.navigation__background {
    transform: scale(80);
}

.navigation__checkbox:checked~.navigation__nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.navigation__icon {
    position: relative;
    margin-top: 1.2rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 1.2rem;
    height: 2px;
    background-color: var(--black);
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
}

.navigation__icon::before {
    top: -.4rem;
    transition: .35s;
}

.navigation__icon::after {
    top: .4rem;
    transition: .35s;
}

.navigation__button:hover .navigation__icon::before {
    transform: translate(0, -2px);
}

.navigation__button:hover .navigation__icon::after {
    transform: translate(0, 2px);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(-45deg) scaleX(0.66) translate(0px, -6px);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(45deg) scaleX(0.66) translate(0px, 6px);
}